div{
    text-align: center;
}
/* -------------------- */
#A{
    width: 100px;
}
/* -------------------- */
#B{
    width: 100px;
}
/* -------------------- */
#C{
    width: 100px;
}
/* -------------------- */
#E{
    width: 100px;
}
/* -------------------- */
#F{
    width: 100px;
}
/* -------------------- */
#G{
    width: 100px;
}